/* .products{
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: orange;
    border-radius: 5px;
} */ 

/* .card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}

.product-image{
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
}

.product-name{
    text-transform: uppercase;
    margin: 10px 0px;       
}

.product-price{
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}

initial design*/



/* new design */


.list_of_prod{
    margin-top: 10px;
    margin-left: 36px;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: 20px auto; */
    margin-left: 20px;
    margin-right: 20px;
    
}

.product-card{
    width: 30%;
    height: 245px;
    border: 1px solid black;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: khaki;
}


.product-image{
    height: 100px;
    width: 145px;
    padding-left: 50px;
    margin-left: 80px;
    background-color: khaki;
}


.product-name{
    margin-left: 95px;
    margin-top: 13px;
}

.product-price{
    margin-left: 150px;
}


.product-add-button{
    margin-left: 131px;
    margin-top: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    /* width: 88px; */
    width: 34%;
    /* height: 29%; */
    height: 35px;
    color: white;
}
